.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#mapBox div:first-child {
    width: 160vh !important;
}

.crimeTab {
    text-align: left;
    font-size: 15;
    width: 20%;
}
