.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#mapBox div:first-child {
    width: 148vh !important;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 40vh;
}

.crimeTab {
    text-align: left;
    font-size: 15;
}
